<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      ここにタイトルの表示
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        名前
      </div>
      <div class="message-date">
        時間の表記
      </div>
    </div>  
    <div class="lower-message">
      <div class="message-content">
        ここに文章が出ます
      </div>
    </div>
  </div>  

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        名前
      </div>
      <div class="message-date">
        時間の表記
      </div>
    </div>  
    <div class="lower-message">
      <div class="message-content">
        ここに文章が出ます
      </div>
    </div>
  </div>  
</div>


<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: "form-submit" %>
<% end %>