<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      ここにタイトルの表示
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        名前
      </div>
      <div class="message-date">
        時間の表記
      </div>
    </div>  
    <div class="lower-message">
      <div class="message-content">
        ここに文章が出ます
      </div>
    </div>
  </div>  

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        名前
      </div>
      <div class="message-date">
        時間の表記
      </div>
    </div>  
    <div class="lower-message">
      <div class="message-content">
        ここに文章が出ます
      </div>
    </div>
  </div>  
</div>


<div class="form"> 
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>